.RowContainer {
  margin-top: 2rem;
  margin-left: 2rem;
  border: 1px solid #e0e0e0;
}
.RowItem {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  border-bottom: 1px solid #e0e0e0;
}
.draggableItemIcon {
  cursor: grab;
  width: 20px;
  display: inline-block;
  padding-right: 1rem;
  opacity: 0.5;
}
.draggableItemText {
  display: inline-block;
  vertical-align: top;
}
p {
  margin: 0;
}
